{% extends "base.html" %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}
    <div class="min-h-75vh">
        <div class="container xl:w-1/4 lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

            {% include "mixins/user_avatar.html" with user=user_obj %}
    
            <div class="flex items-center">
                <span class="text-3xl mt-1">{{user_obj.first_name}}</span>
                {% if user_obj.superhost %}
                    <i class="fas fa-check-circle text-teal-400 ml-1 mt-2"></i>
                {% endif %}
            </div>
    
            <span class="text-lg mb-5">{{user.bio}}</span>
    
            
            {% if user == user_obj %}
                <a href="{% url 'users:update' %}" class="btn-link">Edit Profile</a>
            {% endif %}
    
    
        </div>
        
        {% if user_obj.rooms.count > 0 %}
            <!-- 원래는 include room_card.html을 이용 but 사진 크기 조절을 위해서 room_card.html을 복붙해서 조절-->
            <div class="container mx-auto pb-10 flex flex-col items-center">
                <h3 class="mb-12 text-xl text-center">{{user_obj.first_name}}'s Rooms</h3>
                <div class="flex flex-wrap -mx-16 mb-10">
                    {% for room in user_obj.rooms.all %}
                        <div class="w-1/4 mb-10 px-2 overflow-hidden">
                            <a href="{% url 'rooms:detail' room.pk %}">
                                <div class="w-full h-40 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{room.first_photo}});"></div>
                                <div class="flex justify-between mb-2 truncate">
                                    <div class="w-4/5 overflow-hidden flex">
                                        {% if room.host.superhost %}
                                            <span class="mr-2 uppercase font-semibold text-xs border border-black text-black rounded py-px px-1">superhost</span>
                                        {% endif %}
                                        <span class="text-sm text-gray-600 block truncate">{{room.city}}, {{room.country.name}}</span>
                                    </div>
                                    <span class="text-sm flex items-center">
                                        <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{room.total_rating}}
                                    </span>
                                </div>
                                <span class="text-black w-11/12 block truncate">{{room.name}}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    
    </div>
        
{% endblock content %}